/* You can add global styles to this file, and also import other style files */

body {
    background-image: url(/assets/312.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}